{% for inplabel in labels %}
<div class="block formline">
	<div class="floatleft label {{inplabel}}label">{{inplabel}}</div>
	<div class="floatleft inputcontainer">
		<input type="text" class="field {{inblabel}}field">
	</div>
</div>
{% endfor %}

<script>
//validator
{% for inplabel in labels %}
	var {{inplabel}}val=$('.{{inplabel}}field').val();
{% endfor %}

{% for inplabel in labels %}
	if({{inplabel}}val.length==0){
		handleError({{inplabel}});
		return;
	}
{% endfor %}

data={
	{% for inplabel in labels %}
	{{inplabel}}:{{inplabel}}val,
	{% endfor %}
}
</script>
