<div class="block" id="{{html_id}}">
<label>{{label}}</label>
	{% for option in options %}
	<div class="form-check form-check-inline">
  		<input class="form-check-input" type="checkbox" value="{{option}}">
  		<label class="form-check-label">{{option}}</label>
	</div>
	{% endfor %}
	
	<small id="{{error_id}}" class="form-text text-muted"></small>
</div>