<div class="form-group block">
    <label>{{label}}</label>
    <select class="form-control" id="html_id">
    {% for option in options %}
      <option>{{option}}</option>
      {% endfor %}
    </select>
    <small id="{{error_id}}" class="form-text text-muted"></small>
</div>
