<div class="form-group block id="{{html_id}}"">
    <label>{{label}}</label>
   <form role="form" novalidate="novalidate" class="form-inline">
    <select class="form-control form-control-inline">
  
    {% for option in options[0] %}
      <option>{{option}}</option>
      {% endfor %}
     </select>
      <label>&nbsp;&nbsp;hrs&nbsp;&nbsp;</label>
    
     
    
     <select class="form-control form-control-inline" >
     {% for option in options[1] %}
      <option>{{option}}</option>
      {% endfor %}
    </select>
     <label>&nbsp;&nbsp;mins&nbsp;&nbsp;</label>
    </form>
    <small id="{{error_id}}" class="form-text text-muted"></small>
</div>