<div class="form-group block">
    <label>{{label}}</label>
    <input type="{{type}}" class="form-control" id="{{html_id}}" placeholder="{{placeholder_text}}">
    <small id="{{error_id}}" class="form-text text-muted"></small>
</div>